
/*    -----    HEADER    -----     */

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ebebeb;
}
header {
    background-color:#EAC926; ;
    text-align: left;    
}
.header__nav1__div {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}
.header__nav1--logo {
    width: 50%;
    display: flex; 
    margin-left: -5px; 
}
.header__nav1 {
    width: 100%;
    display: flex;
}
.header__nav1--input {
    width: 50%;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    margin: 4px 0 1px 5px;
    padding: 0 9px 0 7px ;
}
.button--lupa { 
    display: block;
    position: relative;
    left: 89%;
    top: -34px;
    background-color: #ffffff;
    border: none;
    font-size: 8px;
    color: #666;
    padding: 0 3px 0 4px;
    margin:12px
}
.header__nav2 {
    display: flex;
    align-items: center;
}   
.header__nav__div1 {
    display: none;
}
.header__nav__div2 {
    display: none; 
}
.header__nav__p {
    text-align: center;
    padding-left: 22px;
}
.burger-menu {
    margin:5px auto 16px;
    padding:8px;
    background-color: #03264c;
    border-radius: 5px;
    color: #ffff;    
    display: inline-block;  
}
h1 {
    font-size: 16px;
    margin: 10px 30px;
    width: 90%;
    color: #666;
}
a {
    text-decoration: none;
    color: #000000;
}
li {
    list-style: none; 
}
ul {
    padding:0px;
    gap: 15px; 
}
.home--banner {
    width: 100%;
}

/*     -----    MAIN    -----     */

.main {
    width: 100%; 
    display: flex;
    justify-content: center; 
}
.main__section {
    width: 90%;
    flex-direction: column;
}
.main__section article {
    margin: 10px;
    background-color: #ffffff;
}
.main__section article img {
    width: 100%;
}
.main__section__div--p {
    background-color: #ffffff;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}
.main__section__div--p i {
    color:#39b54a;
    padding: 5px 4px 4px 5px;
    border: 1px solid #39b54a;
    border-radius: 50%;
}
.main__section__article__p--precios {
    font-size: 18px;
}
.main__section__article__p--descuentos {
    font-size: 16px;
}
.main__section__article__p--descripciones{
    font-size: 16px;
    display: none;
}
.main__section article {
    box-shadow: 0 0 10px #666;
}


/*     -----    FOOTER    -----     */

b{
    font-size: 15px;
}
footer.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
    align-items: center;
    text-align: center;
}
.footer__section {
    width: 90%;
    display: flex;
    flex-direction: column;
}
.footer__section__article {
    margin: 50px 0 0px;   
}
footer .fa-solid  {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}
p.footer__div__p--copyright {
    padding: 35px 12px 15px 0;
    text-align: left;
}
.footer__article--p {
    padding: 0 21px;
}

@media(min-width:481px) {

    /* H E A D E R */

    .header__nav1__div {
        padding: 10px;
        justify-content: space-around;
    }
    
    .header__nav__p {
        font-size: 8px;
        width: 40%;
        display: flex;
        align-items: center;
    }
    .main__section article {
        margin: 10px ;
        width: 45%;
    }
    .header__nav1--logo {
        width: 28%;
    }
    .button--lupa {
        left: 2%;
        top: 0px;
        padding: 4px;
        margin: 13px 1px;
        left: -3%;
        top: 0px;
    }
    .header__nav1 {
        display: flex;
        justify-content: space-evenly;
    }
    .header__nav1--input {
        width: 25%;
        font-size: 9px;
        margin: 10px -13px 10px 14px;
        padding: none;
    }
    .burger-menu {
        display: none;  
    }
    .header__nav2 {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 10px 0;
    }
    .main__section {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .main__section__article__p--precios {
        font-size: 12px;
        display: flex;
        width: 50%;
    }
    .main__section__article__p--descuentos {
        font-size: 10px;
        display: flex;
        width: 50%;
        color: #39b54a;
        padding-left: 7px ;
        align-items: center;
    }
    .main__section__article__p--descripciones{
        font-size: 9px;
        display: flex;
        color: #666;
        padding-top: 12px;
    }
    .header__nav__div1 {
        display: flex;
        justify-content: center;
        width: 50%;
    } 
    .header__nav__div2 ul li a {
        padding-right: 3px;
    }
    .header__nav__div1 ul {
        display: flex;
    }
    .header__nav__div2 ul {
        display: flex;
    }
    .main__section__div--p {
        padding: 0 10px 8px;
    }
    .main__section__div--p i {
        font-size: 8px;
        padding: 3px;
        display: block;
        width: 10%;
        border: 1px solid #39b54a;
        background-color: #fff;
        border-radius: 50%;
        position: relative;
        left: 89%;
        top: -8px;
    }
    .home__section__div--pre-des {
        display: flex;
        flex-wrap: wrap;
    }
    .header__nav__div2 {
        display: flex;
        justify-content: space-around;
        width: 50%;
    }
    li {
        display: flex;
        justify-content: space-around;
        padding: 0 6px;
    }
    a {
        color: #000;
        text-align: center;
        font-size: 8px;
        display:flex;
        justify-content: space-around;
    }
    a:hover {
        padding: 1px;
        text-decoration: underline;
        text-decoration-color: #1259c3;
    }
    i {
        font-size: 10px;
    }
    h1 {
        font-size: 15px;
        margin-left: 35px;
    }
}
@media(min-width:769px){

    h1 {
        font-size: 19px;
        margin-left: 48px;
    }
    .header__nav__p {
        font-size: 14px;
    }

    .main__section article {
        width: 20%;
    }
    .home__section__div--pre-des {
        display: flex;
        flex-wrap: wrap;
    }
    .main__section__article__p--precios {
        display: flex;
        width: 30%;
        font-size: 20px;
    }
    .main__section__article__p--descuentos {
        display: flex;
        width: 70%;
        align-items: center;
        font-size: 15px;
        color: #39b54a;
        padding-left: 15px;
    }
    
    .main__section__div--p i {
        font-size: 12px;
        padding: 4px; 
        width: 19%;
        left: 76%;
        top: -6px;
    }
    .main__section__div--p {
        padding: 0 15px 12px;
    }
    .main__section__article__p--descripciones{
        padding-top: 15px;
        color: #666;
        font-size: 18px;
    }
    .main__section__article__p--descripciones{
        font-size: 13px;
    }
    .main__section__article__p--precios {
        font-size: 14px;
        width: 40%;
    }
    .main__section__article__p--descuentos {
        font-size: 12px;
        width: 60%;
        padding-left: 7px ;
        align-items: center;
    }
    .main__section--truck {
        margin: -8px;
    }
    i {
        font-size: 14px;
    }
    a {
        font-size:12px;
    }
    .header__nav1--input {
        font-size: 12px;
    }

}