<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body class="body__home">
   <%- include('partials/header') %>
    <img class="home--banner" src="/images/img-home-banner.jpg" alt="">
    <h1>Basado en tu última visita</h1>
    <main class="main">
        <section class="main__section">
            <article class="main__section--cafetera main__article">
                <a href="/products/detail"><img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera Moulinex"></a>
                <div class="main__section__div--p">
                    <div class="main__section--truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="home__section__div--pre-des">  
                        <p class="main__section__article__p--precios">$6.770</p>
                        <p class="main__section__article__p--descuentos">40% OFF</p>
                        <p class="main__section__article__p--descripciones">Cafetera Moulinex</p>
                    </div>
                </div>
            </article>
            <article class="main__section--Macbook main__article">
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <div class="main__section__div--p">
                    <div class="main__section--truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="home__section__div--pre-des">
                        <p class="main__section__article__p--precios">$230.000</p>
                        <p class="main__section__article__p--descuentos">20% OFF</p>
                    </div>
                    <p class="main__section__article__p--descripciones">MacBook Pro 2019</p>
                </div>
            </article>
            <article class="main__section--samsungS10 main__article">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de samsung galaxy s10">
                <div class="main__section__div--p">
                    <div class="main__section--truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="home__section__div--pre-des">
                        <p class="main__section__article__p--precios">$70.500</p>
                        <p class="main__section__article__p--descuentos">10% OFF</p>
                    </div>
                    <p class="main__section__article__p--descripciones">Samsung galaxy S10</p>
                </div>
            </article>
            <article class="main__section--smartTV main__article">
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del smart tv">
                <div class="main__section__div--p">
                    <div class="main__section--truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="home__section__div--pre-des">   
                        <p class="main__section__article__p--precios">$23.200</p>
                        <p class="main__section__article__p--descuentos">5% OFF</p>
                    </div>
                    <p class="main__section__article__p--descripciones">SmartTv Samsumg 43</p>
                </div>
            </article>
            <h1>Ofertas</h1>
            <article class="main__section--cafetera main__article">
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera Moulinex">
                <div class="main__section__div--p">
                    <div class="main__section--truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="home__section__div--pre-des">
                        <p class="main__section__article__p--precios">$6.770</p>
                        <p class="main__section__article__p--descuentos">40% OFF</p>
                    </div>
                    <p class="main__section__article__p--descripciones">Cafetera Moulinex</p>
                </div>
            </article>
            <article class="main__section--Macbook main__article">
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <div class="main__section__div--p">
                    <div class="main__section--truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="home__section__div--pre-des">
                        <p class="main__section__article__p--precios">$230.000</p>
                        <p class="main__section__article__p--descuentos">20% OFF</p>
                    </div>
                    <p class="main__section__article__p--descripciones">MacBook Pro 2019</p>
                </div>
            </article>
            <article class="main__section--samsungS10 main__article">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de samsung galaxy s10">
                <div class="main__section__div--p">
                    <div class="main__section--truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="home__section__div--pre-des">
                        <p class="main__section__article__p--precios">$70.500</p>
                        <p class="main__section__article__p--descuentos">10% OFF</p>
                    </div>
                    <p class="main__section__article__p--descripciones">Samsung galaxy S10</p>
                </div>
            </article>
            <article class="main__section--smartTV main__article">
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del smart tv">
                <div class="main__section__div--p">
                    <div class="main__section--truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="home__section__div--pre-des">   
                        <p class="main__section__article__p--precios">$23.200</p>
                        <p class="main__section__article__p--descuentos">5% OFF</p>
                    </div>
                    <p class="main__section__article__p--descripciones">SmartTv Samsumg 43</p>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <section class="footer__section">
            <article class="footer__section__article">
                <p class="footer__section__article__p--icofooter"><i class="fa-solid fa-credit-card"></i></p>
                <p><b>pagá con tarjeta o en efectivo</b></p>
                <p class="footer__article--p">con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago ¡Y siempre es seguro!</p>
            </article>
            <article class="footer__section__article">
                <p class="footer__section__article__p--icofooter"><i class="fa-solid fa-gift"></i></p>
                <p><b>envío gratis desde los $2.500</b></p>
                <p class="footer__article--p">solo por estar registrado en Merado Liebre tenés envíos gratis en miles de productos. Es un beneficio de mercado Puntos.</p>
            </article>
            <article class="footer__section__article">
                <p class="footer__section__article__p--icofooter"><i class="fa-solid fa-user-shield"></i></p>
                <p><b>seguridad de principio a fin</b></p>
                <p class="footer__article--p">¿no te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.</p>
            </article>
           
        </section>
        <div>
            <p class="footer__div__p--copyright">Copyright  1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>