<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body class="body__home">
   <%- include('partials/header') %>
   <main>
    <article class="main__section--cafetera main__article">
      <a href="/products/detail"><img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera Moulinex"></a>
      <div class="main__section__div--p">
          <div class="main__section--truck">
              <i class="fa-solid fa-truck"></i>
          </div>
          <h5>asdasd</h5>
          <div class="home__section__div--pre-des">  
              <p class="main__section__article__p--precios">$6.770</p>
              <p class="main__section__article__p--descuentos">40% OFF</p>
              <p class="main__section__article__p--descripciones"><%= title %></p>
          </div>
      </div>
  </article>
   </main>
</body>
</html>